<p-table [value]="(transactions$ | async) || []"
         [lazy]="true"
         [totalRecords]="(transactionCount | async) || 0"
         (onLazyLoad)="onPageRequest($event)"
         [paginator]="true"
         [rows]="10"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10,25,50]">
  <ng-template pTemplate="header">
    <tr>
      <th class="w-1">ID</th>
      <th class="w-2">Date</th>
      <th class="w-2">Amount</th>
      <th class="w-5">Description</th>
      <th>Category</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction>
    <tr>
      <td>{{transaction[TRANSACTION_ID]}}</td>
      <td>{{transaction[TRANSACTION_DATE] | date:'dd/MM/yyyy' }}</td>
      <td>€ {{transaction[TRANSACTION_VALUE] || '?'}}</td>
      <td>{{transaction[TRANSACTION_NAME]}}</td>
      <td>{{transaction[TRANSACTION_CATEGORY_ID] | category | async }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>

<p-dialog header="New Transaction" [(visible)]="isFormVisible" [style]="{width: '50vw'}">
  <app-transaction-form></app-transaction-form>
</p-dialog>
